.footer__wrap {
  background-color: #282a35;
  padding: 50px;
}
.courses_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.courses_1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 40px;
}
.courses_1 > div {
  margin: 10px;
}
.courses_1 > div > button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  letter-spacing:1px;
}
.courses_2 {
  padding: 20px;
}
.courses_2 > div {
  line-height: normal;
  letter-spacing: 3px;
  font-weight: 600;
  color: white;
  padding-top: 40px;
}
.social__icon{
display: flex;
flex-direction: row;
justify-content: flex-end;
padding-right:40px;
}
.social__icon>div{
    font-size:25px;
    margin: 10px;
    color:white;

}
.footer__text{
    text-align: center;
    color: rgba(255, 255, 255, 0.952);
    padding: 20px;
    font-size:14px;
    font-weight:600;
    line-height: 20px;
}
.footer__copy{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.973);
}
.footer__like{
    color: white;
    text-align: center;
    font-size:40px;
}
.footer__btn{
    text-align: center;
    width:800px;
    height: 40px;
    background-color:#04aa6d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius:20PX;
    
}

