/* .nav__wrap{
    display: flex;
    flex-direction: row;
    
} */
.nav__left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size:18px;
    font-weight:600;
    
}
.nav__left>div{
    margin:10px 10px;
    position:relative;
    /* width: 100px; */
    padding-top:30px;
    padding-left:10px;
}
.nav__left>div:hover{
    cursor: pointer;
    background-color: #04aa6d;
    color:white;
    
    
}
.nav__left>div:first-child:hover{
    cursor: pointer;
    background-color:white;
    color:white;
}
.nav__right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size:18px;
    font-weight:600;

    
}
.nav__right>div{
    margin: -70px 20px;
}
.nav__right>div:hover{
    cursor: pointer;
    
    
    
}
.logo>img{
    width:80px;
    height:80px;
    margin-top: -20px;
}
.dropDown{
    position:relative;
    top:5px;
    right:5px;
    font-size:25px;
}
.nav__right>div:last-child{
    width:120px;
    height: 40px;
    padding-left:10px;
    padding-top:5px;
    background-color:#04aa6d ;
    border-radius:40px;
    color: white;
    text-align: center;
    position:relative;
    top:-5px;

}
.login_btn2{
    background-color:#04aa6d;
    border: none;
    outline: none;
    color: white;
    font-size:18px;
    font-weight:600;
    
}
