.video_container{
  min-height: 900px;
}
.video__wrap {
  position: relative;
  margin: auto;
  width: 800px;
  min-height: 610px;

  /* display: flex; */
  /* flex-direction:row;
    justify-content: center;
    align-items: center; */
}
.big_video {
  position: inherit;
  width: 800px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 4;
}
.small_video {
  z-index: 4;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  /* border: 1px solid rgba(58, 231, 124, 0.452); */
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.349);
}
.small_video:hover {
  cursor: pointer;
  border: 1px solid rgba(58, 231, 124, 0.452);
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.349);
}
.liftButton,.callButton {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(243, 247, 234, 0.986);
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.349);
  position: absolute;
  bottom: 30px;
  left: 380px;
  cursor: pointer;
}
.liftButton{
    background-color: green;
    /* left:280px; */
}
.icon {
  margin: 5px;
  /* padding: 10px; */
  /* display: none; */
}
.callButton:hover + .icon {
  display: block;
}
.myId{
    /* padding-top: 30px; */
    padding-left: 120px;
    color:rgba(0, 128, 0, 0.521);
}
.button_copy{
    margin-left:5px;
    margin-right: 5px;;
    width: 100px;
    outline: none;
    border:none;
    height: 40px;
    background-color: rgb(73, 168, 73);
    cursor: pointer;
    border-radius: 4px;
  box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.349);

}